<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Movie List</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/bootstrap.min.css") %>"/>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/bootstrap-theme.min.css") %>"/>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header class='jumbotron'>
      <h1 class='main_title'><%= link "Movie List", to: Routes.page_path(@conn, :index) %></h1>
      <nav>
        <ul class='nav nav-pills'>
          <li data-nav='home'><%= link "Main", to: Routes.movie_path(@conn, :index) %></li>
          <li data-nav='suggestions'><%= link "Suggestions", to: Routes.page_path(@conn, :index) %></li>
          <li data-nav='rated'><%= link "Ratings", to: Routes.rating_path(@conn, :index) %></li>
          <li><%= link "Add Movie", to: Routes.page_path(@conn, :index), class: "btn btn-primary add_button" %></li>
        </ul>
      </nav>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
